root/home/pi/.node-red/flows_raspberrypi.json
[{"id":"1dc8c52.537113b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f215ef44.3c07c","type":"mqtt-broker","name":"MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6b9ab10a.77e21","type":"http in","z":"1dc8c52.537113b","name":"detect intent","url":"/intent","method":"post","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["79ade1b0.49408","9018dbfa.ee3148"]]},{"id":"79ade1b0.49408","type":"debug","z":"1dc8c52.537113b","name":"print request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":100,"wires":[]},{"id":"9018dbfa.ee3148","type":"switch","z":"1dc8c52.537113b","name":"commands","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetTime","vt":"str"},{"t":"eq","v":"PlayMusic","vt":"str"},{"t":"eq","v":"StopMusic","vt":"str"},{"t":"eq","v":"increaseVolume","vt":"str"},{"t":"eq","v":"decreaseVolume","vt":"str"},{"t":"eq","v":"maxVolume","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Reboot","vt":"str"},{"t":"eq","v":"BestMama","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":10,"x":350,"y":240,"wires":[["47a65981.191ee8"],["16159550.2b442b"],["5d7514c6.33f52c"],["ccecd6b5.c6f508"],["1345e506.f8371b"],["8103536d.d0dcf"],["58b7ac08.a8a924"],["bfa9925d.69635"],["4f119ff5.4742c"],["a139ff6d.79ae2"]]},{"id":"a139ff6d.79ae2","type":"template","z":"1dc8c52.537113b","name":"unrecognized","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\n  \"data\": {\n    \"intent\": {\n      \"name\": \"unrecognized\",\n      \"confidence\": 0\n    }\n  },\n  \"speech\": {\n    \"text\": \"Ich habe dich leider nicht verstanden.\"\n  }\n}","output":"json","x":760,"y":400,"wires":[["c2911608.efd8b8"]]},{"id":"c2911608.efd8b8","type":"http response","z":"1dc8c52.537113b","name":"send answer","statusCode":"","headers":{"content-type":"application/json"},"x":1810,"y":280,"wires":[]},{"id":"47a65981.191ee8","type":"function","z":"1dc8c52.537113b","name":"tell time","func":"// get current time and date\nnow = new Date();\n\n// get day, month, year\nday = now.getDate();\nmonth = now.toLocaleString('default', { month: 'long' });\nyear = now.getFullYear();\nhours = now.getHours();\nminutes = now.getMinutes();\n\n// set-up and return string\nmsg.payload = \"Es ist\" + hours + \" Uhr \" + minutes + \".\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":100,"wires":[["1b93a1ab.569cce"]]},{"id":"1b93a1ab.569cce","type":"template","z":"1dc8c52.537113b","name":"Intent response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"intent\": {\n    \"name\": \"GetTime\",\n    \"confidence\": 0\n  },\n  \"speech\": {\n    \"text\": \"{{ payload }}\"\n  },\n  \"wakeId\": \"\",\n  \"siteId\": \"default\",\n  \"time_sec\": 0.010800838470458984\n}","output":"json","x":760,"y":220,"wires":[["c2911608.efd8b8"]]},{"id":"4f119ff5.4742c","type":"template","z":"1dc8c52.537113b","name":"BestMama","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"intent\": {\n    \"name\": \"GetTime\",\n    \"confidence\": 0\n  },\n  \"speech\": {\n    \"text\": \"Carina ist die Beste Mama der Welt\"\n  },\n  \"wakeId\": \"\",\n  \"siteId\": \"default\",\n  \"time_sec\": 0.010800838470458984\n}","output":"json","x":770,"y":320,"wires":[["c2911608.efd8b8"]]},{"id":"58b7ac08.a8a924","type":"exec","z":"1dc8c52.537113b","d":true,"command":"sudo","addpay":"","append":"poweroff","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown","x":760,"y":860,"wires":[[],["83102b68.eabb78"],[]]},{"id":"16159550.2b442b","type":"exec","z":"1dc8c52.537113b","command":"cvlc","addpay":"","append":"--aout=alsa --alsa-audio-device=bluealsa --random /home/pi/Musik/*","useSpawn":"false","timer":"","oldrc":false,"name":"cvlc","x":750,"y":700,"wires":[[],["83102b68.eabb78"],[]]},{"id":"83102b68.eabb78","type":"debug","z":"1dc8c52.537113b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1810,"y":680,"wires":[]},{"id":"5d7514c6.33f52c","type":"exec","z":"1dc8c52.537113b","command":"ps","addpay":"","append":"-ef|grep vlc | grep -v grep|awk '{print \"kill -9 \"$2}' |sh","useSpawn":"false","timer":"","oldrc":false,"name":"cvlc stop","x":760,"y":780,"wires":[[],["83102b68.eabb78"],[]]},{"id":"bfa9925d.69635","type":"exec","z":"1dc8c52.537113b","d":true,"command":"sudo","addpay":"","append":"reboot","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":760,"y":940,"wires":[[],["83102b68.eabb78"],[]]},{"id":"1345e506.f8371b","type":"exec","z":"1dc8c52.537113b","command":"amixer","addpay":"","append":" -M set Headphone,0 20%-","useSpawn":"false","timer":"","oldrc":false,"name":"decreaseVolume","x":770,"y":520,"wires":[[],["83102b68.eabb78"],[]]},{"id":"ccecd6b5.c6f508","type":"exec","z":"1dc8c52.537113b","command":"amixer","addpay":"","append":" -M set Headphone,0 20%+","useSpawn":"false","timer":"","oldrc":false,"name":"increaseVolume","x":780,"y":580,"wires":[[],["83102b68.eabb78"],[]]},{"id":"8103536d.d0dcf","type":"exec","z":"1dc8c52.537113b","command":"amixer","addpay":"","append":" -M set Headphone,0 100%","useSpawn":"false","timer":"","oldrc":false,"name":"maxVolume","x":770,"y":640,"wires":[[],["83102b68.eabb78"],[]]},{"id":"100a9994.793886","type":"mqtt in","z":"1dc8c52.537113b","d":true,"name":"","topic":"hermes/hotword/toggleOn","qos":"2","datatype":"auto","broker":"f215ef44.3c07c","nl":false,"rap":true,"rh":0,"x":830,"y":1160,"wires":[["83102b68.eabb78","dd3fa9.797ec058"]]},{"id":"8d76096e.2ff218","type":"mqtt in","z":"1dc8c52.537113b","d":true,"name":"","topic":"hermes/hotword/toggleOff","qos":"2","datatype":"auto","broker":"f215ef44.3c07c","nl":false,"rap":true,"rh":0,"x":1130,"y":1340,"wires":[["83102b68.eabb78","76ea86df.e53fa8"]]},{"id":"dd3fa9.797ec058","type":"exec","z":"1dc8c52.537113b","d":true,"command":"amixer","addpay":"","append":" -M set Headphone,0 10%","useSpawn":"false","timer":"","oldrc":false,"name":"quietly","x":1170,"y":1140,"wires":[[],["83102b68.eabb78"],[]]},{"id":"76ea86df.e53fa8","type":"exec","z":"1dc8c52.537113b","d":true,"command":"amixer","addpay":"","append":" -M set Headphone,0 50%","useSpawn":"false","timer":"","oldrc":false,"name":"mediumVolume","x":1560,"y":1220,"wires":[[],["83102b68.eabb78"],[]]}]